.adminCls {margin: 2em auto; width: 50%;}
.card {
   width: 30px;
   height: 30px;
   background-color: #ccc;
   float: left;
   margin: 10px;
   cursor: pointer;
}
.card span {
   font-size: 16px;
   line-height: 30px;
   padding: 10px 0px 0px 10px;
}
.card.visible {background-color: #aaa;}
.card.cleared {visibility: hidden;}
.card.changeLine {clear: both;}
.done {font-size: 28px;}