<div class="adminCls">
	<input type="text" ng-model="search" placeholder="Search" />
	<table class="cardTable">
		<thead>
			<tr>
				<td><label>Card Name <a ng-click="sort_by('cardType')"><i class="icon-sort"></i></a></label></td>
				<td><label>Card Number <a ng-click="sort_by('cardNo')"><i class="icon-sort"></i></a></label></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="card in cardList | filter:search | orderBy:sortingOrder:reverse">
				<td> {{ card.cardType }} </td>
				<td> {{ card.cardNo }} </td>
			</tr>
		</tbody>
	</table>
</div>
	
		