<!--The content below is only a placeholder and can be replaced.-->
<div class='container'>
	<h1>{{ title }}</h1>
	<form class='uiForm'>
		<button  type='button' name='shuffle' (click)='shuffle()'>Shuffle</button>
		<input type='number' min=1 max=52 name='count' id='count' [(ngModel)]='count'>
		<button  type='button' name ='draw'(click)='draw()'>Draw</button>
		<button  type='button' name='sort' (click)='sort()'>Sort</button>
		<button  type='button' name ='reset' (click)='reset()'>Reset</button>
	</form>

	<app-cards *ngFor="let card of deckOfcards" [card]="card"></app-cards>
	<hr/>
	<h2 *ngIf='drawnCards.length>0'>The drawn cards:</h2>
	<app-cards *ngFor="let card of drawnCards" card]="card"></app-cards>
</div>