/* You can add global styles to this file, and also import other style files */
.container{
    text-align: center;
    background-color: green;
    height : 100%

}


.card {
	background: white;
	border-radius: 2px;
	display: inline-block;
	margin: 5px;
	padding: 0 2px 30px;
	width: 40px;
}
.uiForm{
    margin-left: 52px;
    padding: 20px;

}
.uiForm btn{
    height:50%;
    width:30%;
}

